/* You can add global styles to this file, and also import other style files */
input, select {
    border-radius: 7px;
}
.component-title {
    margin-bottom: 3px;
    border-bottom: 1px solid silver;
}
.page-title {
    font-weight: bold;
}
.search-box {
    border: 0;
}